@page "/"

<h1>Hello, world!</h1>

<p>
    This is a <b>Blazor Client Webassembly App <u>Demo</u></b> website!<br /><br />

    PreRelease of Blazor Client from <a href="https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/" target="_blank">here</a><br/><br/>

    You can take a look at the Food List and Create Orders. <br />
    You also can then change/update Orderer Name or delete the order if you want!
</p>
